/* styles.css */
.bg-image {
    background-image: url('./assets/img/Medical_Mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* width */
::-webkit-scrollbar {
	width: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
	background: #8888883e;
	border-radius: 5px;
}


